.root {
  -color-border: #e6e6e6;
  -color-button-hover: rgba(0, 0, 0, 0.27);
  -color-dialog-overlay: rgba(0, 0, 0, 0.54);

  -amber-500: #ffc107;
  -amber-500-light: #fff350;
  -red-500: #f44336;
  -red-500-light: #ff7961;

  -fx-base: white;
  -fx-accent: -amber-500;
  -fx-font-family: 'Roboto';
}

.jfx-text-field {
  -jfx-focus-color: -fx-accent;
}

.jfx-toggle-node {
  -jfx-toggle-color: rgba(0, 0, 0, 0.27);
}
.jfx-toggle-node .jfx-rippler {
  -jfx-rippler-fill: -fx-accent;
}

.jfx-snackbar-content {
  -fx-background-color: derive(black, 26.4%);
}
.jfx-snackbar-toast {
  -fx-text-fill: white;
}
.jfx-snackbar-action {
  -fx-text-fill: -fx-accent;
  -fx-font-family: 'Roboto Bold';
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 0 1;
  -fx-border-color: -color-border;
}

.jfx-tool-bar {
  -fx-min-height: 64;
  -fx-pref-height: 64;
  -fx-max-height: 64;
  -fx-padding: 0 20 0 20;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: -color-border;
}
.jfx-tool-bar HBox {
  -fx-alignment: center;
}

.button {
  -fx-text-fill: -fx-accent;
  -fx-font-family: 'Roboto Bold';
}
.button:hover {
  -fx-background-color: -color-button-hover;
}
.jfx-button .jfx-rippler {
  -jfx-rippler-fill: -fx-accent;
}

.jfx-dialog-overlay-pane > StackPane {
  -fx-background-color: -fx-background;
}
.jfx-dialog-overlay-pane {
  -fx-background-color: -color-dialog-overlay;
}

.jfx-check-box {
  -jfx-checked-color: -fx-accent;
}
.jfx-check-box .mark {
  -fx-border-color: -fx-background;
}

.box-media-background {
  -fx-background-color: -amber-500-light;
}
.box-media-border {
  -fx-border-color: -amber-500;
  -fx-border-width: 2;
}
.box-media-border-thick {
  -fx-border-width: 4;
}
.box-trim-background {
  -fx-background-color: -red-500-light;
}
.box-trim-border {
  -fx-border-color: -red-500;
  -fx-border-width: 2;
}
.box-trim-border-thick {
  -fx-border-width: 4;
}

/* ID */

#circle-amber {
  -fx-fill: -fx-accent;
}
#circle-red {
  -fx-fill: -red-500;
}
#label-title {
  -fx-font-family: 'Roboto';
  -fx-font-size: 26;
}
#label-dialog-title {
  -fx-font-family: 'Roboto Medium';
  -fx-font-size: 22;
}
#label-context-graphic {
  -fx-font-family: 'Roboto Black';
}
#label-info {
  -fx-font-family: 'Roboto Condensed';
}
#label-info-black {
  -fx-font-family: 'Roboto Condensed';
  -fx-text-fill: black;
}
#btn-close {
  -fx-graphic: url('../image/btn_close.png');
}
#btn-more {
  -fx-graphic: url('../image/btn_more.png');
}
#btn-link-on {
  -fx-graphic: url('../image/btn_link_on.png');
}
#btn-link-off {
  -fx-graphic: url('../image/btn_link_off.png');
}
#in-quantity {
  -fx-image: url('../image/in_quantity.png');
}
#in-coverage {
  -fx-image: url('../image/in_coverage.png');
}
#ic-calculate {
  -jfx-button-type: RAISED;
  -fx-background-color: -fx-accent;
  -fx-graphic: url('../image/ic_send.png');
}
#ic-calculate:hover {
  -fx-background-color: derive(-fx-accent, 50%);
}
#ic-calculate:pressed {
  -fx-background-color: derive(-fx-accent, -50%);
}
#ic-close {
  -fx-graphic: url('../image/ic_close.png');
}
#ic-scale-expand {
  -fx-graphic: url('../image/ic_scale_expand.png');
}
#ic-scale-shrink {
  -fx-graphic: url('../image/ic_scale_shrink.png');
}
#ic-background-fill {
  -fx-graphic: url('../image/ic_background_fill.png');
}
#ic-background-unfill {
  -fx-graphic: url('../image/ic_background_unfill.png');
}
#ic-border-thick {
  -fx-graphic: url('../image/ic_border_thick.png');
}
#ic-border-thin {
  -fx-graphic: url('../image/ic_border_thin.png');
}
