.root {
  -color-border: black;
  -color-button-hover: rgba(255, 255, 255, 0.27);
  -color-dialog-overlay: rgba(255, 255, 255, 0.54);

  -fx-base: black;
}

.text-field {
  -fx-text-inner-color: white;
  -fx-highlight-text-fill: black;
}

.jfx-snackbar-content {
  -fx-background-color: white;
}
.jfx-snackbar-toast {
  -fx-text-fill: black;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-background-color: -color-button-hover;
}

/* ID */
#btn-close {
  -fx-graphic: url('../image-dark/btn_close.png');
}
#btn-more {
  -fx-graphic: url('../image-dark/btn_more.png');
}
#btn-link-on {
  -fx-graphic: url('../image-dark/btn_link_on.png');
}
#btn-link-off {
  -fx-graphic: url('../image-dark/btn_link_off.png');
}
#in-quantity {
  -fx-image: url('../image-dark/in_quantity.png');
}
#in-coverage {
  -fx-image: url('../image-dark/in_coverage.png');
}
#ic-close {
  -fx-graphic: url('../image-dark/ic_close.png');
}
#ic-scale-expand {
  -fx-graphic: url('../image-dark/ic_scale_expand.png');
}
#ic-scale-shrink {
  -fx-graphic: url('../image-dark/ic_scale_shrink.png');
}
#ic-background-fill {
  -fx-graphic: url('../image-dark/ic_background_fill.png');
}
#ic-background-unfill {
  -fx-graphic: url('../image-dark/ic_background_unfill.png');
}
#ic-border-thick {
  -fx-graphic: url('../image-dark/ic_border_thick.png');
}
#ic-border-thin {
  -fx-graphic: url('../image-dark/ic_border_thin.png');
}
