.root {
    -plano-border: #e6e6e6;
    -plano-button-hover: rgba(0, 0, 0, 0.27);
    -plano-dialog-overlay: rgba(0, 0, 0, 0.54);

    -amber600: #ffb300;
    -amber600light: #ffe54c;
    -red500: #f44336;
    -red500light: #ff7961;

    -fx-base: white;
    -fx-accent: -amber600;
    -fx-font-family: "Roboto";
}

/* TextField */
.jfx-text-field {
    -jfx-focus-color: -fx-accent;
}

/* Snackbar */
.jfx-snackbar-content {
    -fx-background-color: derive(black, 26.4%);
}
.jfx-snackbar-toast {
    -fx-text-fill: white;
}
.jfx-snackbar-action {
    -fx-text-fill: -fx-accent;
    -fx-font-family: "Roboto Bold";
}

/* ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: -plano-border;
}

/* ToolBar */
.jfx-tool-bar {
    -fx-min-height: 64;
    -fx-pref-height: 64;
    -fx-max-height: 64;
    -fx-padding: 0 20 0 20;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -plano-border;
}
.jfx-tool-bar HBox {
    -fx-alignment: center;
}

/* Button */
.button {
    -fx-text-fill: -fx-accent;
    -fx-font-family: "Roboto Bold";
}
.button:hover {
    -fx-background-color: -plano-button-hover;
}
.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -fx-accent;
}

/* Dialog */
.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: -fx-background;
}
.jfx-dialog-overlay-pane {
    -fx-background-color: -plano-dialog-overlay;
}

/* CheckBox */
.jfx-check-box {
    -jfx-checked-color: -fx-accent;
}
.jfx-check-box .mark {
    -fx-border-color: -fx-background;
}

/** MediaBox and TrimBox */
.box-media-background {
    -fx-background-color: -amber600light;
}
.box-media-border {
    -fx-border-color: -amber600;
    -fx-border-width: 2;
}
.box-media-border-thick {
    -fx-border-width: 4;
}
.box-trim-background {
    -fx-background-color: -red500light;
}
.box-trim-border {
    -fx-border-color: -red500;
    -fx-border-width: 2;
}
.box-trim-border-thick {
    -fx-border-width: 4;
}

/* ID */
#circle-amber {
    -fx-fill: -fx-accent;
}
#circle-red {
    -fx-fill: -red500;
}
#label-info {
    -fx-font-family: "Roboto Condensed";
}
#label-red { // displaying trim boxes count
    -fx-font-family: "Roboto Condensed Bold";
    -fx-text-fill: -red500;
}
#label-black { // saving result
    -fx-text-fill: black;
}
#menu-close {
    -fx-graphic: url("../image/menu_close.png");
}
#menu-more {
    -fx-graphic: url("../image/menu_more.png");
}
#btn-calculate {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-accent;
    -fx-graphic: url("../image/btn_send.png");
}
#btn-calculate:hover {
    -fx-background-color: derive(-fx-accent, 50%);
}
#btn-calculate:pressed {
    -fx-background-color: derive(-fx-accent, -50%);
}
#btn-clear {
    -fx-graphic: url("../image/btn_clear.png");
}
#btn-scale-expand {
    -fx-graphic: url("../image/btn_scale_expand.png");
}
#btn-scale-shrink {
    -fx-graphic: url("../image/btn_scale_shrink.png");
}
#btn-background-fill {
    -fx-graphic: url("../image/btn_background_fill.png");
}
#btn-background-unfill {
    -fx-graphic: url("../image/btn_background_unfill.png");
}
#btn-border-thick {
    -fx-graphic: url("../image/btn_border_thick.png");
}
#btn-border-thin {
    -fx-graphic: url("../image/btn_border_thin.png");
}