* {
    -accent: #ffb300;
    -accent-light: #ffe54c;
    -accent-dark: #c68400;
    -border-color: #e6e6e6;
}

.root {
    -fx-base: white;
    -fx-accent: -accent;
    -fx-focus-color: -accent;
    -fx-default-button: -accent;
    -fx-font-family: "Roboto";
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: -border-color;
}

.jfx-text-field {
    -jfx-focus-color: -accent;
}

.jfx-check-box {
     -jfx-checked-color: -accent;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: white;
}
.jfx-snackbar-action {
    -fx-text-fill: -accent;
    -fx-font-family: "Roboto Bold";
}

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0, 0, 0, 0.54);
}

.jfx-tool-bar {
    -fx-min-height: 64;
    -fx-pref-height: 64;
    -fx-max-height: 64;
    -fx-padding: 0 20 0 20;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -border-color;
}
.jfx-tool-bar HBox {
    -fx-alignment: center;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -accent-dark;
}

.flat {
    -fx-text-fill: -accent;
}

.raised {
    -fx-text-fill: white;
    -fx-background-color: -accent;
}
.raised:hover {
    -fx-background-color: -accent-light;
}
.raised:pressed {
    -fx-background-color: -accent-dark;
}