* {
    -accent: #ffb300;
    -accent-light: #ffe54c;
    -accent-dark: #c68400;

    -dark: rgba(0.0, 0.0, 0.0, 0.54);
}

.root {
    -fx-accent: -accent;
    -fx-focus-color: -accent;
    -fx-default-button: -accent;
    -fx-background-color: white;
}

.label {
    -fx-font-family: "Roboto";
}

.scroll-pane {
    -fx-background: white;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: white;
}
.jfx-snackbar-action {
    -fx-text-fill: -accent;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-drawer-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-radio-button {
    -jfx-selected-color: -accent;
}

.jfx-tool-bar {
    -fx-min-height: 64.0;
    -fx-pref-height: 64.0;
    -fx-max-height: 64.0;
    -fx-padding: 0 20 0 20;
}
.jfx-tool-bar HBox {
    -fx-alignment: center;
}

.jfx-text-field {
    -jfx-focus-color: -accent;
    -fx-prompt-text-fill: -dark;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -accent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -accent;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -accent;
}
.jfx-tab-pane .tab {
}
.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -fx-text-background-color;
}
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: -accent;
}

.flat {
    -fx-text-fill: -accent;
}

.raised {
    -fx-text-fill: white;
    -fx-background-color: -accent;
}
.raised:hover {
    -fx-background-color: -accent-light;
}
.raised:pressed {
    -fx-background-color: -accent-dark;
}