.root {
    -color-border: black;
    -color-button-hover: rgba(255, 255, 255, 0.27);
    -color-dialog-overlay: rgba(255, 255, 255, 0.54);

    -fx-base: black;
}

/* TextField */
.text-field {
    -fx-text-inner-color: white;
    -fx-highlight-text-fill: black;
}

/* Snackbar */
.jfx-snackbar-content {
    -fx-background-color: white;
}
.jfx-snackbar-toast {
    -fx-text-fill: black;
}

/* ScrollBar */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -color-button-hover;
}

/* ID */
#menu-close {
    -fx-graphic: url('../image-dark/menu_close.png');
}
#menu-more {
    -fx-graphic: url('../image-dark/menu_more.png');
}
#btn-close {
    -fx-graphic: url('../image-dark/btn_close.png');
}
#btn-scale-expand {
    -fx-graphic: url('../image-dark/btn_scale_expand.png');
}
#btn-scale-shrink {
    -fx-graphic: url('../image-dark/btn_scale_shrink.png');
}
#btn-background-fill {
    -fx-graphic: url('../image-dark/btn_background_fill.png');
}
#btn-background-unfill {
    -fx-graphic: url('../image-dark/btn_background_unfill.png');
}
#btn-border-thick {
    -fx-graphic: url('../image-dark/btn_border_thick.png');
}
#btn-border-thin {
    -fx-graphic: url('../image-dark/btn_border_thin.png');
}