* {
    -dark: #282828;
    -border-color: black;
}

.root {
    -fx-base: black;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-text-inner-color: white;
    -fx-highlight-text-fill: black;
}

.jfx-check-box .mark {
     -fx-border-color: -dark;
}

.jfx-snackbar-content {
    -fx-background-color: white;
}
.jfx-snackbar-toast {
    -fx-text-fill: black;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(255, 255, 255, 0.54);
}
